<div class="container">
  <div class="row">
    <div class="col-md-6 product-image">
      <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
    </div>

    <div class="col-md-6">
      <h1> {{ product.name }} </h1>
      <h2> {{ product.price }} </h2>
      <p> {{ product.shortDescription }} </p>
    </div>

    <div class="col-md-12 full-description">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active">Описание</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Отзывы</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Доставка</a>
        </li>
      </ul>

      <p class="details">
        Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени
        обуславливает создание дальнейших направлений развития. Равным образом рамки и место обучения кадров обеспечивает
        широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
        Разнообразный и богатый опыт реализация намеченных плановых заданий позволяет оценить значение новых предложений.
        Таким образом укрепление и развитие структуры играет важную роль в формировании систем массового участия. Не следует,
        однако забывать, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и
        модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна,
        что консультация с широким активом требуют от нас анализа дальнейших направлений развития. Не следует, однако забывать,
        что постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов)
        участие в формировании новых предложений. Таким образом новая модель организационной деятельности влечет за собой
        процесс внедрения и модернизации существенных финансовых и административных условий. Идейные соображения высшего
        порядка, а также постоянный количественный рост и сфера нашей активности требуют от нас анализа модели развития.
        Значимость этих проблем настолько очевидна, что укрепление и развитие структуры играет важную роль в формировании
        новых предложений. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий требуют
        от нас анализа направлений прогрессивного развития. Значимость этих проблем настолько очевидна, что реализация намеченных
        плановых заданий способствует подготовки и реализации дальнейших направлений развития. С другой стороны рамки и место
        обучения кадров требуют от нас анализа направлений прогрессивного развития.
      </p>
    </div>
  </div>
</div>
